
.center_text{
	text-align: center;
}
.center_text h2{
	font-size: var(--h2-font);
	font-weight: 700;
}

.selling_content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 4rem;
}
.col{
	position: relative;
	transition: all .6s;
}
.col_img{
	overflow: hidden;
	border-radius: 28px;
}
.col_img img{
	display: block;
	width: 100%;
	transition: transform 0.5s;
	cursor: pointer;
}
.col_img:hover img{
	transform: scale(1.05);
}
.col_icon{
	position: absolute;
	bottom: 20px;
	right: 30px;
}
.col_icon a{
	display: block;
}
.col_icon i{
	margin-bottom: 20px;
	width: 40px;
	height: 40px;
	background: var(--text-color);
	color: var(--bg-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	opacity: 0;
	transition: all .6s;
}
.col:hover .col_icon i{
	opacity: 1;
	transform: rotate3d(0, 0, 1, 360deg) scale(1.03);
}




/* ---------------media aquirey-------- */



@media(max-width: 1610px){
	section{
		padding: 70px 7% 80px;
	}	
}

@media(max-width: 1170px){
	section{
		padding: 60px 4% 70px;
	}

	.selling_content{
		grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	}
}



