<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add styling file -->
    <link rel="stylesheet" href="{{url_for('static', filename='style/layout.css')}}">
    {% block styles %}{% endblock %}
	<!-- box-icons link -->
	<link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

     <!-- remix-icons link -->
     <link
     href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
     rel="stylesheet"/>

    <!-- Add scripting file -->
    <script src="{{url_for('static', filename = 'js/script.js')}}" defer></script>

     <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>E-commerce website</title>
</head>
<body>

    <!-- header -->
    <header>
        <a href="#" class="logo">Shop</a>

        <ul class="navlist">
            <li><a href="{{url_for('index')}}">Shop</a></li>
            <li><a href="{{url_for('product')}}">On Sale</a></li>
            <li><a href="{{url_for('popular')}}">New Arrivals</a></li>
            <li><a href="{{url_for('product')}}">Brands</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>

        <div class="nav_right">
            <a href="#"><i class="ri-search-line"></i></a>
			<a href="#"><i class="ri-shopping-cart-line"></i></a>
			<a href="#"><i class="ri-user-line"></i></a>
			<div class="bx bx-menu" id="menu_icon"></div>
        </div>
    </header>   
    
    <main>
        {% block content%}
        
        
        {% endblock %}
    </main>

  
    
</body>
</html>
