{% extends "layout.html" %}

{% block content %}
	<!--- best selling --->
	<section class="selling">
		<div class="center_text" data-aos="fade-up">
			<h2>New Products</h2>
		</div>

		<div class="selling_content" data-aos="zoom-in-up">

			
				{% for product in products %}
				    <div class="product">
						<h2>{{ product.name }}</h2>
						<p>{{ product.description }}</p>
						<p>Price: ${{ product.price }}</p>
						<!-- Display the image by referencing the route -->
						{% if product.image_data %}
						    <img src="{{ url_for('serve_image', product_id=product.id) }}" alt="{{ product.name }}">
					    {% endif %}

				    </div>
				{% endfor %}
			</ul>

		</div>	
	</section>
    
{% endblock %}

{% block title %}
product page
{% endblock %} 

 <!-- adding style css -->
 {% block styles %}
 <link rel="stylesheet" href="{{ url_for('static',filename='style/product.css') }}">
 {% endblock %}